* { margin: 0; padding: 0;}


html, body{
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    width: 100%;
    height: 100%;
    overflow:hidden;
}


#intro{
    color: #ffffff;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

#username{
    display: block;
    padding: 1rem;
    font-size: 1rem;
    width: 80%;
    text-align: center;
    margin: 1rem auto;
}
.button {
    display: block;
    margin: 1rem auto;
    background-color:#2ecc71;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border: none;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
}
.button:hover {
    background-color:#27ae60;
}
.button:active {
    position:relative;
    top:1px;
}


body{
    margin: 0;
    background: #3498db;
}
h1{
    font-family: 'Modak', cursive;
    font-size: 2rem;
    font-weight: normal;
    color: #2ecc71;
    margin: 1rem auto;
    text-align: center;
}

#user p{
    color: white;
    font-size: 1rem;
    text-align: center;
}

#users{
    text-align: center;
    margin: 1rem auto;
    color:white;
}
#users p{
    font-weight: bold;
}

.hidden{
    display: none;
}

#messages li{
    color: yellow;
    text-align: center;
    margin: 1rem auto;
}

#progress{
    width: 0;
    height: 2rem;
    position: absolute;
    bottom:0;
    left: 0;
    opacity: 0.5;
    background: #2980b9;
}
#canvas{
    display: block;
    width: 100%;
    height: 100%;
}

#win, #display{
    color: #ecf0f1;

}

#win{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    /* display: block; */
    font-size: 3rem;
    text-align: center;
    height: 3rem;

}


#display{
    position: absolute;
    left: 3px;
    font-size: 2rem;
    bottom: 0;
}

#win.animate{
    display: block;
}

/* […] */

/* At-rules */
@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fade_in_and_bounce_from_left {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fade_in_and_bounce_from_left {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.animate {
    -webkit-animation: fade_in_and_bounce_from_left 0.25s 1;
    animation: fade_in_and_bounce_from_left 0.25s 1;
}
.fade_in_and_bounce_from_left_left {
    -webkit-animation: fade_in_and_bounce_from_left 0.50s 1;
    animation: fade_in_and_bounce_from_left 0.50s 1;
}
.fade_in_and_bounce_from_left_right {
    -webkit-animation: fade_in_and_bounce_from_left 0.75s 1;
    animation: fade_in_and_bounce_from_left 0.75s 1;
}
.fade_in_and_bounce_from_left_rightmost {
    -webkit-animation: fade_in_and_bounce_from_left 1s 1;
    animation: fade_in_and_bounce_from_left 1s 1;
}
